# EXPLORATORY DATA ANALYSIS

What is exploratory Data analysis?
EDA is data exploration techniue to understand the various aspects of the data.

Objectie of EDA
It is basicall used to filter the data from redundancies
Helps us to understand the relationship between the variables

Steps Involved in EDA
Follows a systematic set of steps to explore the data in the most efficient way possible
1. Understand the Data
2. Clean the data from redundancies (irregularity in the data)
3. Analysis of relationship between variables

In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [57]:
data = pd.read_csv(r'C:\Users\shour\Downloads\Automobile.csv')

In [58]:
#1 Understanding the data
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [59]:
data.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [60]:
data.shape

(205, 26)

In [61]:
data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [62]:
data.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [63]:
data.nunique()

symboling              6
normalized-losses     52
make                  22
fuel-type              2
aspiration             2
num-of-doors           3
body-style             5
drive-wheels           3
engine-location        2
wheel-base            53
length                75
width                 44
height                49
curb-weight          171
engine-type            7
num-of-cylinders       7
engine-size           44
fuel-system            8
bore                  39
stroke                37
compression-ratio     32
horsepower            60
peak-rpm              24
city-mpg              29
highway-mpg           30
price                187
dtype: int64

In [64]:
data['engine-type'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [65]:
#cleaning the data

In [66]:
data.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [67]:
automobile = data.drop(['bore'], axis=1)

In [68]:
automobile.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.40,8.0,115,5500,18,22,17450

In [69]:
#3. relationship analysis

In [70]:
corelation = automobile.corr()

ValueError: could not convert string to float: '?'

In [71]:
sns.heatmap(corelation, xticklabels=corelation.columns, yticklabels=corelation.columns,annot=True)

NameError: name 'corelation' is not defined

In [89]:
sns.pairplot(automobile)

In [85]:
sns.relplot(x='fuel-type', y='peak-rpm', hue='highway-mpg', data=automobile)

In [86]:
sns.displot(automobile['fuel-type'], bins=5)

In [91]:
sns.catplot(x='peak-rpm', kind = 'box', data = automobile)

In [96]:
drive_wheels_counts=df['engine-location'].value_counts().to_frame()
engine_location_counts.rename(columns={'engine-location':'value_counts'},inplace=True)
engine_location_counts.index.name='engine-location'#rename the index to drive-wheels
engine_location_counts

NameError: name 'engine_location_counts' is not defined

In [97]:
df_grouped_one=df[['drive-wheels','body-style','price']]
df_grouped_one=df_grouped_one.groupby(['drive-wheels'],as_index=False)['price'].mean()
df_grouped_one

TypeError: agg function failed [how->mean,dtype->object]

In [98]:
df_gptest=df[['drive-wheels','body-style','price']]
grouped_test1=df_gptest.groupby(['drive-wheels','body-style'], as_index=False).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [99]:
grouped_pivot=grouped_test1.pivot(index='drive-wheels',columns='body-style')
grouped_pivot

NameError: name 'grouped_test1' is not defined

In [100]:
grouped_pivot=grouped_pivot.fillna(0)
grouped_pivot

NameError: name 'grouped_pivot' is not defined

In [101]:
#p=value is the probability value that the correlation between these two variables 
#is statistically significant or not
#normally, we chose a p-value of 0.05, which means that we are 95% confident that the
#correlation between the variables is significant
#if p<0.01: strong evidence that the corr is significant
#if p<0.05: moderate evidencd that the corr is significant
#if p<0.1: weak evidence that the corr is significant
#if p>0.1: no evidence that the corr is significant

In [105]:
from scipy import stats
pearson_coef,p_value=stats.pearsonr(df['wheel-base'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

ValueError: data type <class 'numpy.object_'> not inexact

In [106]:
pearson_coef,p_value=stats.pearsonr(df['horsepower'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

ValueError: data type <class 'numpy.object_'> not inexact

In [107]:
pearson_coef,p_value=stats.pearsonr(df['width'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

ValueError: data type <class 'numpy.object_'> not inexact

In [ ]:
pearson_coef,p_value=stats.pearsonr(df['curb-weight'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

In [ ]:
pearson_coef,p_value=stats.pearsonr(df['bore'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

In [ ]:
pearson_coef,p_value=stats.pearsonr(df['city-mpg'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

In [ ]:
pearson_coef,p_value=stats.pearsonr(df['highway-mpg'],df['price'])
print('The pearson correlation coefficient is :',pearson_coef,'with a p-value of: ',p_value)

In [108]:
#ANOVA is an Analysis of Variance is a statistical method used to test whether
 # there are significant differences between the means of two or more groups
#ANOVA return two parameters F-test score and p-value
#F-test score:ANOVA assumes the means of all groups are the same &
 #it calculates how much the actual means deviate from the assumption
#A larger F-test score means there is a difference between the means(avgs)
#if our price variable is strongly correlated with the variable we are analyzing,
 #except ANOVA to return a sizable F-test score and a small p-value